html {
    font: Regular 30px/50px Montserrat;
    letter-spacing: 0;
    opacity: 1;
    font-family: 'Montserrat', sans-serif; 
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px;  
}
.header-text h2 {
    font-size: 25px;
    background: none;
    color: #000;
}
h2 {
    font-size: 25px;
    color: #fff;
    background: purple;
    padding: 0px 10px;
}

h3 {
    font-weight: normal;
    font-size: 16px;
}



.header {
    height: 400px;
    width: 100%;
    opacity: 1;
    position: relative;
    background-image: url("./assets/scott-webb-UjupleczBOY-unsplash.jpg");
    background-size: contain;
    background-repeat: repeat;
}

.header-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 316px;
    bottom: 30%;
}

.header img {
    position: absolute;
    left: 2;
    right: 316px;
    top: 15em;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 2px white;
    
}

.intro, .projects, .tech, .writing, .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 316px;
}

.intro, .projects, .writing {
    background: #F4F4F4;
}

.intro {
    height: 300px;
    opacity: 1;
}

.tech {
    height: 300px;

}
.projects {
    height: 613px;
    opacity: 1;
}

.my-projects, .my-writing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.project-box {
    width: 45%;
    margin: 10px;

}
.project-box img, .writing-box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.project-box a, .writing-box a {
    background: plum;
    font-weight: bold;
}

.codeType {
    display: inline;
    background: plum;
    padding: 0px 5px;
}

.writing-box {
    width: 40%
}

.my-writing {
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 10px;
}

.my-skills {
    flex-direction: column-reverse;
    justify-content: flex-end;
    border: solid 2px salmon;
    background: sandybrown;

}