html {
    font: Regular 30px/50px Montserrat;
    letter-spacing: 0;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header h1, .header h2, .header h3 {
    color: #00677c;
    background: none;
    margin-bottom: 0px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
    color: #fff;
    background:#0190ad;
    padding: 0px 10px;
    margin-bottom: 10px;
}

h3 {
    font-weight: normal;
    font-size: 16px;
}

article {
    font-size: small;
}



.header {
    height: 400px;
    width: 100%;
    opacity: 1;
    position: relative;
    background-image: url('./assets/portrait/resul-DbwYNr8RPbg-unsplash_header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.header-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 316px;
    bottom: 30%;
}

.header img {
    position: absolute;
    left: 2;
    right: 316px;
    top: 15em;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 2px white;
    
}

.intro, .projects, .tech, .writing, .skills, .more, .contact  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 316px;
    
}

.intro, .projects, .skills, .contact {
    background: #F4F4F4;
}

.intro, .projects {
    height: auto;
    opacity: 1;
}

.tech {
    height: auto;
}

.my-projects, .my-writing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.project-box {
    width: 45%;
    margin: 10px;

}
.project-box img, .writing-box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.project-box a, .writing-box a {
    text-decoration: none;
    color: black;
}

.codeType {
    display: inline;
    background: #93cad1;
    padding: 0px 5px;
}

.writing-box {
    width: 40%
}

.my-writing {
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 10px;
}

.my-skills {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.skillSet {
    text-align: center;
    padding: 10px;
    width: 120px;
}

.projects img:hover, .writing img:hover {
    opacity: 0.5;
    transition: 0.2s;
}

.more a {
    text-decoration: none;
}
.more img {
    margin: 10px 20px;
}

.my-contact {
    justify-content: center;
    text-align: center;
}